@font-face{
    font-family: Miso;
    src: url("./assets/fonts/miso.woff") format("woff");
}
@font-face{
    font-family: Miso-bold;
    src: url("./assets/fonts/miso-bold.woff") format("woff");
}
@font-face{
    font-family: Lato;
    src: url("./assets/fonts/lato.ttf") format("truetype"); 
}
:root{
    --text-font: 'Lato', sans-serif; 
    --price-text-font: 'Miso-bold', sans-serif;
    --card-title-font: 'Miso', sans-serif;
    
    --price-text-size: 60px;
    --card-title-size: 50px;
    --common-font-size: 20px;
    
    --main-text-color: #000000;
    --price-text-color: #02995b;
    
    --body-bg-color: #fdde7e;
    --card-bg-color: #ffffff;
    }

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    background-color: var(--body-bg-color);
    font-size: 100%;
    max-width: 100%;
    padding: 0 25px ;
    margin: 0;
    height: 100vh;
}
ul{
    display: flex;
    list-style-type: none;
    background-color: var(--body-bg-color);
    width:100%;
    justify-content:space-around;
    padding-left: 0px;
}
.price-card{
    display: flex;
    flex-grow: 1;
    flex-direction: column ;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 30px;
    border-top:30px solid ;
    border-bottom:30px solid;
    border-top-color: var(--body-bg-color);
    border-bottom-color: var(--body-bg-color);
    background-color: var(--card-bg-color);
    transition: all .2s ease-in;
    max-height: 100%;
    padding: 20px 0 20px;
}
.price-card:last-child{
    margin-right: 0px;
}
li:hover {
    border-color: white;
}
.price-list__price{
    font-family: var(--price-text-font);
    color: var(--price-text-color);
    font-size: var(--price-text-size);
    margin: 0px 0px 20px 0px;
}
.price-list__img{
height: 135px;
width: 135px;
margin-bottom: 20px;
}
.price-list__heading{
    font-family:var(--card-title-font);
    font-size:var(--card-title-size);
    color:var(--main-text-color);
    margin: 0px 0px 20px 0px;
}
.price-list__text{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family:var(--text-font);
    font-size: var(--common-font-size);
    color:var(--main-text-color);
    max-width: 40%;
    margin: 0;

}


